{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="col-5 mx-auto">
        <h2>Edit Students</h2>
        <hr>
        <form method="post" action="{{url_for('edit',id=bag.ID)}}">
            <div class="form-group">
                <input type="text" placeholder="Enter Name" name="name" value="{{bag.Name}}" required=1 class="form-control">
            </div><br>
            <div class="form-group">
                <input type="text" placeholder="Enter Funds" name="funds" value="{{bag.Funds}}" required=1 class="form-control">
            </div><br>
            <div class="form-group">
                <input type="text" placeholder="Enter Inves Amount" name="inves" value="{{bag.Invested_Amount}}" required=1 class="form-control">
            </div><br>
            <div class="form-group">
                <input type="text" placeholder="Enter Unitsheld" name="units" value="{{bag.Units_Held}}" required=1 class="form-control"><br>
            </div><br>
            
            <input type="submit" value="Update Student" class="btn btn-primary form-control">
                
            </div>
        </form>
    </div>
</div>




{% endblock body %}